body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #00bfff;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.profile {
    text-align: center;
    color: #fff;
}

.profile h1 {
    margin-bottom: 5px;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

section:last-child {
    border-bottom: none;
}

h2 {
    color: #333;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}
